{% include partials/header.html %}
  {% assign nbr_days = site.data.program.days | size -%}

  <h1 class="display-5 {% if nbr_days > 1 -%} mb-2 {%- else -%} mb-4 {%- endif %}">
    {%- if page.title -%}
      {{- page.title -}}
    {%- else -%}
      {{- site.data.lang[site.conference.lang].program.title | default: "Program" -}}
    {%- endif -%}
  </h1>

  {{ content }}

  {%- if nbr_days > 1 %}
    <ul class="nav justify-content-center mb-3 btn-group" id="day-list" role="tablist">
      {%- for d in site.data.program.days -%}
        {%- include partials/get_day_hash.html %}
        <li class="nav-item" role="presentation">
          <a class="nav-link btn btn-outline-secondary {%- if forloop.index == 1 %} active{% endif %}" id="tab-{{ day_hash }}" data-toggle="tab" {%- if d.date %} data-date="{{ d.date }}" {%- endif %} href="#{{ day_hash }}" role="tab" aria-controls="{{ day_hash }}" aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}">{{ day_name }}</a>
        </li>
      {%- endfor %}
    </ul>
    <div class="tab-content" id="day-content">
  {%- endif %}

  {%- for d in site.data.program.days -%}
    {%- if nbr_days > 1 -%}
      {%- include partials/get_day_hash.html %}
      <div class="tab-pane {%- if forloop.index == 1 %} active{% endif %}" id="{{ day_hash }}" role="tabpanel" aria-labelledby="tab-{{ day_hash }}">
    {%- endif %}

    <div class="sticky-top syncscroll overflow-hidden" name="sync-table">
      <table class="table mb-0 mx-auto">
        <thead>
          <tr>
            <th scope="col" class="col-title text-right">#<span class="invisible">I0</span></th>
            <th class="col-space p-0" scope="col"></th>
            {%- assign nbr_rooms = d.rooms | size -%}
            {%- for r in d.rooms -%}
              {%- assign room = site.rooms | where: 'name', r.name | first %}
              <th scope="col" class="text-center">
                {%- if room.hide or site.conference.location.hide -%}
                  {{- room.name -}}
                {%- else -%}
                  <a class="text-reset" href="{{ room.url | prepend: site.baseurl }}">
                    {{- room.name -}}
                  </a>
                {%- endif -%}
              </th>
              {%- unless forloop.last %}
                <th class="col-space p-0" scope="col"></th>
              {%- endunless -%}
            {%- endfor %}
          </tr>
        </thead>
      </table>
    </div>

    <div class="syncscroll overflow-y-hidden" name="sync-table">
      <table class="table mx-auto">
        <tbody>
          {%- include partials/get_day_time.html -%}

          {%- for r in d.rooms -%}
            {%- assign room = site.rooms | where: 'name', r.name | first -%}
            {%- for t in r.talks -%}
              {%- assign talk = site.talks | where: 'name', t.name | first -%}

              {%- include partials/get_talk_time.html -%}

              <tr>
                <th scope="row" class="col-title text-right">
                  {{- talk_start_time -}}
                </th>
                <td class="col-space p-0"></td>
                <td class="alert alert-{{ main_cat_color }} shadow-sm overflow-hidden" colspan="{{ nbr_rooms | times: 2 | minus: 1 }}">
                  <p class="mb-2">
                    {%- include partials/show_talk.html %}
                  </p>
                  <p class="font-weight-light mb-2">
                    {%- include partials/list_speakers.html %}
                  </p>
                  <p class="mb-1">
                    {%- include partials/list_sub_categories.html %}
                  </p>
                </td>
              </tr>
            {%- endfor %}
          {%- endfor %}
        </tbody>
      </table>
    </div>

    {%- if nbr_days > 1 %}
      </div>
    {%- endif %}
  {%- endfor %}
  {%- if nbr_days > 1 %}
    </div>
  {%- endif %}

  {%- if site.conference.talks.main_categories %}
    <h5 class="mt-4">{{ site.data.lang[site.conference.lang].program.legend | default: "Caption" }}</h5>
      {%- for main_cat in site.conference.talks.main_categories %}
        <div class="d-block d-sm-inline-block m-1 p-1 pl-2 pr-2 border-soft-{{ main_cat.color }} bg-soft-{{ main_cat.color }} font-weight-normal">
          {{- main_cat.name -}}
        </div>
      {%- endfor %}
  {%- endif %}

{% include partials/footer.html %}
